---
import LoginForm from '../../components/solid/LoginForm';
import Layout from '../../layouts/Layout.astro';

import getCookieClaims from '../../lib/firebase/auth/getCookieClaims';

export const prerender = false;

const sessionCookie = Astro.cookies.get('session')?.value;

if (sessionCookie !== undefined) {
  const claims = await getCookieClaims(sessionCookie);
  if (claims !== undefined) return Astro.redirect('/');
}
---

<Layout title="Login | Mentality・Where Mental Health is Our Priority">
  <main class="flex flex-col px-60 py-12 h-full w-full">
    <LoginForm client:load />
  </main>
</Layout>
