---
import Icon from 'astro-icon';
import Layout from '../layouts/Layout.astro';
import PrimaryButton from '../components/solid/shared/PrimaryButton';
import getCookieClaims from '../lib/firebase/auth/getCookieClaims';

export const prerender = false;

const sessionCookie = Astro.cookies.get('session')?.value;

const isLoggedIn = await (async () => {
  if (sessionCookie === undefined) return false;

  const claims = await getCookieClaims(sessionCookie);
  return claims !== null;
})();
---

<Layout title="Directory | Mentality・Where Mental Health is Our Priority">
  <main class="flex flex-col px-60 py-12">
    <h2 class="text-4xl font-semibold w-2/3 break-words">
      Find a Psychologist Who Can Help You Heal and Thrive
    </h2>

    <p class="text-slate-600 mt-4 text-sm">
      Life can be challenging at times, and everyone needs help from time to time. A psychologist
      can offer you the support and guidance you need to overcome your challenges and live your best
      life. Our directory of psychologists makes it easy to find a qualified professional who can
      help you with your specific needs. Whether you're struggling with anxiety, depression,
      relationship problems, or life transitions, we have a psychologist who can help.
    </p>

    <div class="grid grid-cols-3 gap-4 mt-8">
      {
        Array.from({ length: 6 }).map((_, idx) => {
          const actualUrl = `/experts/${idx}`;

          const anonymousUrlParams = new URLSearchParams();
          anonymousUrlParams.append('redirect', actualUrl);

          return (
            <a href={isLoggedIn ? actualUrl : `/auth/signin/?${anonymousUrlParams.toString()}`}>
              <article class="rounded-lg border cursor-pointer transition-all duration-200 hover:shadow-md">
                <img
                  class="w-full max-h-[240px] object-cover rounded-t-lg select-none"
                  src="https://picsum.photos/seed/picsum/200/300"
                  alt=""
                />

                <div class="px-3 pt-2 pb-4">
                  <h3 class="text-xl font-semibold">Moses Julian</h3>
                  <p class="text-ellipsis line-clamp-3 text-sm text-slate-600">
                    Moses Julian, M.Psi, Psikolog adalah Psikolog Klinis yang aktif melayani pasien
                    di Klinik Aditi Psychological Center. Moses Julian, M.Psi, Psikolog mendapatkan
                    gelar Psikolog Klinis setelah menamatkan pendidikan di Universitas Airlangga,
                    Universitas Padjadjaran.
                  </p>

                  <div class="mt-3 flex items-center gap-2 text-slate-600 text-sm">
                    <div class="flex items-center gap-2">
                      <Icon name="tabler:star" size={18} />
                      <span class="leading-[1.2] flex-1">4.7</span>
                    </div>

                    <div class="w-px h-[16px] bg-slate-600" />

                    <div class="leading-[1.2]">100 consultations</div>
                  </div>

                  <div class="flex items-center mt-2 gap-2 text-slate-600 text-sm">
                    <Icon name="tabler:map-pin" size={18} />
                    <span class="leading-[1.2] flex-1">Jakarta Timur</span>
                  </div>

                  <div class="flex items-center mt-2 gap-2 text-slate-600 text-sm">
                    <Icon name="tabler:building-hospital" size={18} />
                    <span class="leading-[1.2] flex-1">Klinik Julian Psychological Center</span>
                  </div>

                  <PrimaryButton class="mt-6 w-full">Consult</PrimaryButton>
                </div>
              </article>
            </a>
          );
        })
      }
    </div>
  </main>
</Layout>
