---
import Layout from '../../layouts/Layout.astro';
import PrimaryButton from '../../components/PrimaryButton.astro';

export const prerender = false;
---

<Layout title="Chat | Mentality・Where Mental Health is Our Priority">
  <main class="h-[calc(100vh-160px)] px-60 pb-12 flex flex-col">
    <h2 class="text-4xl font-semibold">Chat</h2>

    <ul id="message-list" class="h-full mt-8 flex flex-col gap-2 pb-4 overflow-y-auto"></ul>

    <form data-message-form autocomplete="off" class="flex items-center gap-2 mt-4">
      <input
        class="rounded-md flex-1 border px-4 py-2"
        type="text"
        data-message-input
        placeholder="Say something..."
      />

      <PrimaryButton class="px-6">Send</PrimaryButton>
    </form>
  </main>
</Layout>

<script>
  import { addDoc, onSnapshot } from 'firebase/firestore';
  import { collections } from '../../lib/firebase/client';
  import { formatDistanceToNow } from 'date-fns';

  onSnapshot(collections.bookingChats('FnclurGmBpAxyg8shKmo'), {}, (snapshot) => {
    const messageList = document.getElementById('message-list');
    if (messageList == null) return;

    messageList.innerHTML = '';

    const messages = snapshot.docs.sort((a, b) => {
      const aDate = a.data().sentAt.seconds;
      const bDate = b.data().sentAt.seconds;

      if (aDate < bDate) return -1;
      if (aDate > bDate) return 1;
      return 0;
    });

    messages.forEach((doc) => {
      const data = doc.data();

      messageList.innerHTML += `
        <li class="flex flex-col gap-0.5 rounded-md px-4 py-2 w-fit ${
          data.isSenderUser ? 'bg-primary' : 'border'
        } ${data.isSenderUser ? 'self-start' : 'self-end'}">
          <div class="text-slate-600 text-sm self-start">${
            data.isSenderUser ? 'Joseph' : 'Me'
          }</div>
          <div>${data.message}</div>
          <div class="text-slate-600 text-sm self-start">${formatDistanceToNow(
            new Date(data.sentAt.seconds * 1000),
          )}</div>
        </li>
      `;
    });
  });

  document.querySelectorAll('[data-message-form]').forEach((element) => {
    element.addEventListener('submit', (e) => {
      e.preventDefault();

      const input = element.querySelector('[data-message-input]') as HTMLInputElement;
      if (input === undefined) return;

      const message = input.value;
      if (message === undefined || message.length === 0) return;

      addDoc(collections.bookingChats('FnclurGmBpAxyg8shKmo'), {
        message,
        isSenderUser: false,
        sentAt: new Date(),
      });

      input.value = '';
    });
  });
</script>
