---

---

<a href="/directory">
  <button
    class="font-semibold text-black ring-2 ring-black hover:ring-primary hover:ring-offset-2 rounded-full px-4 py-2 bg-primary transition-all duration-200"
    aria-label="Take the First Step"
  >
    Take the First Step
  </button>
</a>
