---
---

<header class="flex items-center justify-between gap-10 px-60 py-4 shadow">
    <a href="/">
        <h1 class="text-2xl font-semibold">Mentality</h1>
    </a>
    
    <nav class="flex items-center justify-around gap-4">
        <a href="">
            <button
                class="font-semibold text-black ring ring-black hover:ring-primary rounded-full px-4 py-2 bg-primary transition-all duration-500 hover:ring-offset-2"
                aria-label="Take the First Step"
            >
                Take the First Step
            </button>     
        </a>
    </nav>
</header>
