---
import DirectoryButton from './DirectoryButton.astro';
---

<header
  class="sticky top-0 left-0 right-0 flex items-center justify-between gap-10 px-60 py-6 bg-white bg-opacity-80 backdrop-blur-md z-10 transition-all duration-200"
  data-header
>
  <a href="/">
    <h1 class="text-2xl font-semibold">Mentality</h1>
  </a>

  <nav class="flex items-center justify-around gap-4">
    <DirectoryButton />
  </nav>
</header>

<script>
  const SCROLL_THRESHOLD = 30;

  window.addEventListener('scroll', () => {
    document.querySelectorAll('[data-header]').forEach((el) => {
      if (window.scrollY > SCROLL_THRESHOLD) {
        el.classList.add('shadow-md');
      } else {
        el.classList.remove('shadow-md');
      }
    });
  });
</script>
