---
import Footer from '../components/solid/layout/Footer';
import Header from '../components/solid/layout/Header';
import getCookieClaims from '../lib/firebase/auth/getCookieClaims';
import { collections } from '../lib/firebase/server';
import type { User } from '../lib/firebase/types';
type Props = {
  title: string;
  class?: string;
};

const { title, class: className } = Astro.props;

const currentYear = new Date().getFullYear();

const user = await (async () => {
  const sessionCookie = Astro.cookies.get('session')?.value;
  if (sessionCookie === undefined) return undefined;

  const claims = await getCookieClaims(sessionCookie);
  if (claims === undefined) return undefined;

  const userDoc = await collections.users
    .doc(claims.uid)
    .get()
    .catch((e: Error) => {
      console.error(e);
      return e;
    });

  if (userDoc instanceof Error) return userDoc;
  return userDoc.data();
})();

if (user instanceof Error) return Response({ status: 500 });
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="We take a holistic approach to mental health conditions——totality"
    />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body class="relative">
    <Header userName={user?.name} client:load />

    <main class:list={['flex flex-col', className]}>
      <slot />
    </main>

    <Footer class="my-4" currentYear={currentYear} />
  </body>
</html>

<style is:global>
  :root {
    --color-primary: 127deg 95% 30%;
    --color-primary-light: 127deg 95% 45%;
    --color-secondary: 158deg 68% 76%;
    --color-black: 127deg 95% 15%;
  }

  * {
    color: var(--color-black);
  }

  html {
    font-family: system-ui, sans-serif;
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
