---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="We take a holistic approach to mental health conditions——totality"
    />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="relative pb-8">
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  :root {
    --color-primary: 127deg 95% 70%;
    --color-primary-dark: 127deg 95% 35%;
    --color-secondary: 158deg 68% 76%;
    --color-black: 127deg 95% 15%;
  }

  * {
    color: var(--color-black);
  }

  html {
    font-family: system-ui, sans-serif;
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
